# Bytecode and Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/

# Local source folder if not needed in container
src/

# Git and metadata
.gitignore
.git/

# Documentation and licenses (optional)
README.md
LICENSE

# OS-specific or IDE files
.DS_Store
*.swp